<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lazy Hair</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav class="navbar sticky-top d-flex justify-content-between" >
        <img class="navbar__user change_tab" height="60" src="./image/logo.png">
        <a class="navbar__logo navbar-brand to_main_tab"  height="80" href="#">Lazy Hair</a>
        <img class="navbar__bag change_tab" height="40" src="./image/shopping-bag.svg">
    </nav>
    <div id="main_page">
        <div class="address_section px-3 pb-5">
            <div class="address_section__slogan container pl-0 py-5 pr-5">
                <h1>把您所需要的服務親手外送給您</h1>
            </div>
            <div class="address_section__search container px-0">
                <form action="">
                    <div class="search__input">
                        <input class="w-100 px-3" type="text" placeholder="輸入您欲送達的地址">
                    </div>
                    <div class="search__button d-flex align-items-center my-3">
                        <button href="https://chiao429.github.io/lazyhair/welcome.html"  class="button d-inline-block w-100 change_tab">立即LH</button>
                        <span class="mx-2">或</span>
                        <button href="https://chiao429.github.io/lazyhair/welcome.html" class="button d-inline-block w-100 change_tab">預約LH</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="join_section pt-3 px-3 pb-5">
            <div class="join_section__intro card">
               
                <div class="card-body px-3" style="margin-bottom: 30px;"> 
                    <h4 class="card-title">加入LazyHair，將你的服務分享給大家！</h4>
                    <p class="card-text">想要上千名新顧客試試你的服務嗎？我們想，相信你也是！</p>
                    <p class="card-text">達到這個目的超簡單：我們把你的服務放上線、幫你處理訂單、將您可提供的服務外送給顧客們！</p>
                    <p class="card-text">還等什麼？一起和我們開啟這個外送美髮服務給大家的旅程吧！</p>
                    
                    <button href="https://chiao429.github.io/lazyhair/welcome.html"   class="button d-inline-block w-100 change_tab">加入我們</button>
                </div>
            </div>
        </div>
        <div class="city_section pt-3 pl-3 pb-5">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                        <div class="swiper-slide mr-3 change_tab" style="width: 216px; overflow: hidden;">
                                <img src="https://images.deliveryhero.io/image/fd-tw/city-tile/city-tile-pingtung.jpg?webp=0" style="height: 272px; margin-left: -100px">
                                <span class="swiper_city_name">屏東縣</span>
                            </div>
                    <div class="swiper-slide mr-3 change_tab" style="width: 216px; overflow: hidden;">
                        <img src="https://asia-public.foodpanda.com/marketing/production/tw/images/nl/city-images/Tapei1.jpg?v=1459522682" style="height: 272px; margin-left: -100px">
                        <span class="swiper_city_name">台北市</span>
                    </div>
                    <div class="swiper-slide mr-3 change_tab" style="width: 216px; overflow: hidden;">
                        <img src="https://asia-public.foodpanda.com/marketing/production/tw/images/nl/city-images/New-Taipei1.jpg?v=1459522682" style="height: 272px; margin-left: -100px">
                        <span class="swiper_city_name">新北市</span>
                    </div>
                    <div class="swiper-slide mr-3 change_tab" style="width: 216px; overflow: hidden;">
                        <img src="https://asia-public.foodpanda.com/marketing/production/tw/images/nl/city-images/Taichung1.jpg?v=1459522682" style="height: 272px; margin-left: -100px">
                        <span class="swiper_city_name">台中市</span>
                    </div>
                    <div class="swiper-slide mr-3 change_tab" style="width: 216px; overflow: hidden;">
                        <img src="https://asia-public.foodpanda.com/marketing/production/tw/images/nl/city-images/Kaohsiung1.jpg?v=1459522682" style="height: 272px; margin-left: -100px">
                        <span class="swiper_city_name">高雄市</span>
                    </div>
                    <div class="swiper-slide mr-3 change_tab" style="width: 216px; overflow: hidden;">
                        <img src="https://images.deliveryhero.io/image/fd-tw/city-tile/City-tile-Hsinchu.jpg" style="height: 272px; margin-left: -100px">
                        <span class="swiper_city_name">新竹市</span>
                    </div>
                    <div class="swiper-slide mr-3 change_tab" style="width: 216px; overflow: hidden;">
                        <img src="https://images.deliveryhero.io/image/fd-tw/city-tile/City-tile-taoyuan.jpg" style="height: 272px; margin-left: -100px">
                        <span class="swiper_city_name">桃園市</span>
                    </div>
                    <div class="swiper-slide mr-3 change_tab" style="width: 216px; overflow: hidden;">
                            <img src="https://images.deliveryhero.io/image/fd-tw/city-tile/City-tile-changhua.jpg" style="height: 272px; margin-left: -100px">
                            <span class="swiper_city_name">彰化市</span>
                        </div>
                    <div class="swiper-slide mr-3 change_tab" style="width: 216px; overflow: hidden;">
                        <img src="https://images.deliveryhero.io/image/fd-tw/city-tile/city-tile-Keelung.jpg" style="height: 272px; margin-left: -100px">
                        <span class="swiper_city_name">基隆市</span>
                    </div>
                    <div class="swiper-slide mr-3 change_tab" style="width: 216px; overflow: hidden;">
                        <img src="https://images.deliveryhero.io/image/fd-tw/city-tile/city-tile-Tainan.jpg?webp=0" style="height: 272px; margin-left: -100px">
                        <span class="swiper_city_name">台南市</span>
                    </div>
                    <div class="swiper-slide mr-3 change_tab" style="width: 216px; overflow: hidden;">
                        <img src="https://images.deliveryhero.io/image/fd-tw/city-tile/city-title-Miaoli.jpg?webp=0" style="height: 272px; margin-left: -100px">
                        <span class="swiper_city_name">苗栗市</span>
                    </div>
                    <div class="swiper-slide mr-3 change_tab" style="width: 216px; overflow: hidden;">
                        <img src="https://images.deliveryhero.io/image/fd-tw/city-tile/city-tile-chiayi.jpg?webp=0" style="height: 272px; margin-left: -100px">
                        <span class="swiper_city_name">嘉義市</span>
                    </div>
                    <div class="swiper-slide mr-3 change_tab" style="width: 216px; overflow: hidden;">
                            <img src="https://images.deliveryhero.io/image/fd-tw/city-tile/city-tile-Yunlin.jpg?webp=0" style="height: 272px; margin-left: -100px">
                            <span class="swiper_city_name">雲林縣</span>
                        </div>
                        <div class="swiper-slide mr-3 change_tab" style="width: 216px; overflow: hidden;">
                                <img src="https://images.deliveryhero.io/image/fd-tw/city-tile/city-tile-Hualien.jpg?webp=0" style="height: 272px; margin-left: -100px">
                                <span class="swiper_city_name">花蓮縣</span>
                            </div>
                        
                </div>
                <div class="swiper-scrollbar"></div>
            </div>
        </div>
        <div class="corporate_section pt-3 px-3 pb-5">
            <div class="corporate_section__intro card">
                <div class="card-body px-3">
                    <h4 class="card-title">Lazy Hair 團購平台</h4>
                    <!-- <p class="card-text">訂購美食，在會議中或加班時輕鬆享用</p> -->
                    <p class="card-text">團購服務，用最划算的價格輕鬆享用</p>
                    <button  class="button d-inline-block w-100 change_tab" href="https://chiao429.github.io/lazyhair/welcome.html" >立即開始</button>
                </div>
            </div>
        </div>
        <footer class="footer_section p-3 text-center">
            <div class="footer_section__dowload d-flex justify-content-around mb-2">
                <a  target="_blank"><img src="./image/download-on-the-app-store.png" height="50px"></a>
                <a  target="_blank"><img src="./image/google-play-badge-ch.png" height="50px"></a>
            </div>
            <div class="footer_section__media d-flex justify-content-center align-items-center">
                <div>Follow us on</div>
                <a class="px-3"   target="_blank"><img src="./image/icons8-facebook.svg" width="40px"></a>
                <a   target="_blank"><img src="./image/icons8-instagram-old.svg" width="40px"></a>
            </div>
            <hr class="my-2" color="#fff">
            <div>© 2020 LazyHair</div>
        </footer>
    </div>
    <div id="food_page" style="display: none">
        <div class="food_section pt-3 px-3 pb-5">
            <!-- <ul class="list_wraper list-group">
                <a class="food_item list-group-item list-group-item-action mb-3 rounded" v-for='food in food_data' data-toggle="modal" data-target="#exampleModal" v-on:click="index_of_click=food_data.indexOf(food)">
                    <h4 class="font-weight-bold">{{food.name}}</h2><hr class="my-1">
                    <p class="mb-0"><b>營業時間：</b>{{food.open_time}}</p>
                    <p class="mb-0"><b>電話：</b>{{food.tel.replace('+886-',0)}}</p>
                    <p class="mb-0"><b>地址：</b>{{food.address.replace(/^7\d+/,'')}}</p>
                </a>
            </ul> -->
            <!-- <div class="join2_section pt-3 px-3 pb-5">
                    <div  >
                       
                        <div class="card-body px-3" style="margin-bottom: 150px;"> 
                            <h4 class="card-title"> </h4>
                            <p class="card-text"> </p>
                            <p class="card-text"></p>
                            <p class="card-text"></p>
                            
                           
                        </div>
                    </div>
                </div> -->
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">{{food_data[index_of_click].name}}-簡介</h4>
                </div>
                <div class="modal-body">
                    {{food_data[index_of_click].introduction}}
                </div>
                <div class="modal-footer d-flex justify-content-start">
                    <span v-for='category in food_data[index_of_click].category'>{{category}}</span>
                    <button type="button" class="btn ml-auto font-weight-bold" data-dismiss="modal">Close</button>
                </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
    <script type="text/javascript" src="script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
</body>
</html>